DOLA_API_KEY="in zalo"
DOLA_BASE_URL="https://ark.ap-southeast.bytepluses.com/api/v3"
AGENT_LLM_ENABLED="true"
WHISPER_PROVIDER="auto"
WHISPER_MODEL="whisper-1"
# OPENAI_API_KEY=""
# WHISPER_LANGUAGE="en"
# LOCAL_WHISPER_MODEL="base"
